.Step1 {
  min-height: 340px;
  .container {
    position: relative;
    .formController {
      &.invalid {
        border: 2px solid var(--danger-bg);
        &::placeholder {
          color: var(--danger-bg);
        }
      }
    }

    small {
      font-size: 14px;
      color: var(--danger-bg);
    }
  }
}
