.LoginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: var(--txt2-color);

  .wrapper {
    padding: 20px 0px;
    width: 400px;
    min-height: 400px;
    height: max-content;
    background-color: var(--txt-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);

    h1 {
      margin: 0 0 10px 0;
      text-align: center;
      text-transform: capitalize;
    }

    form {
      padding: 0 30px;

      .text {
        text-align: center;
        margin: 0;
      }

      .formController {
        margin-top: 15px;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        label {
          display: block;
          font-weight: 500;
          margin-bottom: 5px;
        }

        input {
          padding: 10px 40px;
          border-radius: 8px;
          font-size: 16px;
          outline: none;
          border: 2px solid var(--grey-bg);
          color: var(--txt2-color);

          &:focus {
            border: 2px solid var(--five-bg);
          }
          &::placeholder {
            font-size: 12px;
            text-transform: capitalize;
          }

          &.invalid {
            border: 2px solid var(--danger-bg);
            &::placeholder {
              color: var(--danger-bg);
            }
          }
        }

        .icone {
          position: absolute;
          top: 37px;
          left: 15px;
          &:focus {
            svg {
              color: var(--five-bg);
            }
          }

          svg {
            font-size: 20px;
            color: var(--grey-bg);
          }

          &.error {
            svg {
              color: var(--danger-bg);
            }
          }
        }

        .cash-eye {
          position: absolute;
          right: 15px;
          top: 37px;
          cursor: pointer;
          svg {
            font-size: 20px;
            color: var(--grey-bg);
          }
        }

        small {
          font-size: 14px;
          color: var(--danger-bg);
          margin-top: 3px;
        }
      }

      .forgot {
        width: 100%;
        text-align: end;
        font-weight: 500;
        transition: all;

        span {
          text-transform: capitalize;
        }

        &:hover {
          text-decoration: underline;
          transition: 0.3s ease-in-out;
        }
      }

      .btn-container {
        width: 100%;
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          width: 80%;
          padding: 15px;
          border-radius: 5px;
          border: 0;
          font-size: 16px;
          font-weight: 500;
          background-color: var(--grey-bg);
          color: var(--txt-color);
          margin-top: 15px;
          text-transform: capitalize;

          &.submit {
            background-color: var(--four-bg);
            cursor: pointer;
          }
        }
      }

      p {
        text-align: center;

        strong {
          text-transform: capitalize;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
