.App {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: 600px;
  margin: 80px auto;
  background: #030c35;
  filter: drop-shadow(-12px 12px 24px rgba(0, 0, 0, 0.2));

  .left {
    width: 220px;
    height: 100%;
    background: #030c35;
    padding: 12px;

    .contains {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: #021959;
      border-radius: 8px;
      width: 196px;
      height: 176px;
      color: white;

      .user {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
      }
    }

    .sideBar {
      margin-top: 50px;
      width: 100%;

      .item {
        width: 100%;
        height: 42px;
        background-color: #021959;
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;

        &.active {
          border-left: 4px solid #324da6;
          border-radius: 4px;
        }
      }
    }
    .setting {
      margin-top: 30px;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      color: #fff;

      button {
        width: 100%;
        height: 42px;
        margin-top: 15px;
        background-color: #021959;
        border: 0;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
        transition: all;
        &:hover {
          background-color: #324da6;
          transition: all ease-in-out 0.3s;
        }
      }
    }
  }

  .middle1 {
    width: 362px;
    height: 100%;
    background: #0a1340;
    padding: 12px 0;
    h3 {
      margin: 0;
      padding: 0 0 0 24px;
    }

    .search {
      position: relative;
      height: 40px;
      width: 314px;
      border-radius: 4px;
      margin: 24px;
      display: flex;
      align-items: center;

      input {
        height: 38px;
        width: 100%;
        outline: none;
        background-color: #324da6;
        border: 0;
        padding-left: 40px;
        color: #fff;
        border-radius: 4px;
        font-size: 16px;
        &::placeholder {
          color: #fff;
        }

        &:focus {
          background-color: #fff;
          &::placeholder {
            color: #030c35;
          }

          color: #0a1340;
        }
      }

      svg {
        position: absolute;
        left: 10px;
        font-size: 20px;
        color: #021959;
      }
    }

    .text {
      display: flex;
      justify-content: space-between;
      margin: 24px;
    }

    .contacts {
      max-height: 450px;
      overflow-y: scroll;
      .contact {
        display: flex;
        align-items: center;
        width: 100%;
        height: 92px;
        background: rgba(50, 77, 166, 0.5);
        border-radius: 4px;
        margin-bottom: 20px;
        cursor: pointer;
        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          object-fit: cover;
          margin-left: 24px;
          margin-right: 16px;
        }

        .data {
          .userName {
            width: 230px;
            height: 25px;
            font-size: 20px;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 20px;

            svg {
              width: 8px;
              height: 8px;
              background: #3168fa;
            }
          }

          .status {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .check {
              width: 180px;
              margin-right: 20px;

              svg {
                font-size: 18px;
              }
            }

            .times {
              margin-right: 20px;
            }
          }
        }
      }

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      &::-webkit-scrollbar-thumb {
        background: #888;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
  }
  .middle2 {
    width: 638px;
    height: 100%;
    background-color: #030c35;
    position: relative;

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 72px;
      background: #04164f;
      border-radius: 0px 0px 16px 16px;
      margin-top: -12px;

      .tolbar {
        display: flex;
        align-items: center;
        img {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          object-fit: cover;
          margin: 15px 16px;
        }

        .user {
          div {
            width: 160px;
            height: 22px;
          }
        }
      }

      svg {
        width: 22px;
        height: 20px;
        margin-right: 24px;
      }
    }

    .chat {
      height: calc(100% - 72px);
      display: flex;
      flex-direction: column;

      .content {
        width: max-content;
        max-width: 300px;
        margin: 16px;
        padding: 14px 16px;
        row-gap: 10px;

        .message-time {
          float: right;
          font-size: 16px;
          margin-left: 30px;
        }
      }

      .sent {
        align-self: flex-end;
        background: rgba(50, 77, 166, 0.75);
        border-radius: 0px 12px 12px 12px;
      }

      .received {
        background: #17285c;
        border-radius: 12px 0px 12px 12px;
      }
    }

    .bottom-bar {
      width: 100%;
      height: 72px;
      background: #04164f;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 4px 4px 0px 0px;
      padding: 12px;
      display: flex;
      align-items: center;

      input {
        width: 100%;
        height: 48px;
        border-radius: 23px;
        outline: none;
        background: rgba(245, 250, 255, 0.08);
        font-size: 18px;
        font-weight: 500;
        padding-left: 20px;
        color: #fff;
        border: 0;

        &::placeholder {
          font-size: 16px;
          color: #fff;
        }

        &:focus {
          outline: none;
        }
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(245, 250, 255, 0.08);
        padding: 10px;
        margin-left: 5px;
        cursor: pointer;
        border: 0;
        border-radius: 50%;

        svg {
          width: 26px;
          height: 26px;
          color: #3168fa;
        }
      }
    }
  }

  .right {
    width: 220px;
    height: 100%;
    background: #030c35;
    padding: 12px;
  }
}

/*        



/* 
::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
  background: #888;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
}


*/
